In [2]:
import pandas as pd

In [3]:
df_admissions = pd.read_csv('./data/1950-2023.csv')

In [22]:
df_admissions['Directors'].fillna('Unknown', inplace=True)

In [23]:
df_admissions.isnull().sum()

Original title              0
Producing country           0
Production year             0
Directors                   0
Admissions null-null        0
Total EU27+GB since 1996    0
dtype: int64

In [46]:
# Checked if values of the columns are identical
(df_admissions['Admissions null-null'].str.replace(' ', '').astype(int) - df_admissions['Total EU27+GB since 1996'].str.replace(' ', '').astype(int)).sum()

0

In [64]:
df_admissions_clean = df_admissions.drop('Total EU27+GB since 1996', axis=1)
df_admissions_clean.rename(columns={'Admissions null-null': 'visitors'}, inplace=True)
df_admissions_clean.columns = df_admissions_clean.columns.str.lower()
df_admissions_clean['visitors'] = df_admissions_clean['visitors'].str.replace(' ', '').astype('int64')

In [65]:
df_admissions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13669 entries, 0 to 13668
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original title     13669 non-null  object
 1   producing country  13669 non-null  object
 2   production year    13669 non-null  int64
 3   directors          13669 non-null  object
 4   visitors           13669 non-null  int64
dtypes: int64(2), object(3)
memory usage: 534.1+ KB

In [68]:
df_admissions_clean.to_csv('./data/visitors_per_year_and_movie.csv', sep=',')