In [4]:
import polars as pl

In [ ]:
#Read in TSV-Files
# df_name = pl.read_csv("name.basics.tsv", separator="\t", ignore_errors=True)
# df_akas = pl.read_csv("title.akas.tsv", separator="\t", ignore_errors=True)
# df_basics = pl.read_csv("Data/title.basics.tsv", separator="\t", ignore_errors=True)
# df_crew = pl.read_csv("title.crew.tsv", separator="\t", ignore_errors=True)
# df_episodes = pl.read_csv("title.episode.tsv", separator="\t", ignore_errors=True) # NOT NEEDED
# df_principals = pl.read_csv("title.principals.tsv", separator="\t", ignore_errors=True)
# df_ratings = pl.read_csv("title.ratings.tsv", separator="\t", ignore_errors=True)

In [9]:
df_basics = pl.read_csv(".\Data\CSV\movie_list_years.csv", separator=",", ignore_errors=True)

In [3]:
# Save Data as CSV-Files
# df_name.write_csv("./CSV/name.basics.csv", separator=",") #1
# df_akas.write_csv("./CSV/title.akas.csv", separator=",") #2
# df_basics.write_csv("./CSV/title.basics.csv", separator=",") #3
# df_crew.write_csv("./CSV/title.crew.csv", separator=",") #4
# df_episodes.write_csv("./CSV/title.episode.csv", separator=",") #5
# df_principals.write_csv("./CSV/title.principals.csv", separator=",") #6
# df_ratings.write_csv("./CSV/title.ratings.csv", separator=",") #7

In [10]:
filtered_df = df_basics.filter(pl.col("titleType").is_in(["movie", "tvMovie"]))
filtered_df_yrs = filtered_df.filter(pl.col("startYear") >= 1950)

In [32]:
filtered_df.write_csv("./CSV/movie_list.csv", separator=",")

In [10]:
filtered_df_yrs.write_csv("./CSV/movie_list_years.csv", separator=",")

In [16]:
unique_tconst = filtered_df_yrs["tconst"].unique()
unique_tconst

shape: (664_040,)
Series: 'tconst' [str]
[
	"tt0102943"
	"tt0055133"
	"tt22805352"
	"tt10436970"
	"tt0236640"
	â€¦
	"tt7954194"
	"tt13765062"
	"tt30787066"
	"tt23810972"
	"tt0043046"
]

In [20]:
unique_values_str = ",".join(unique_tconst.to_list())

In [24]:
unique_tconst.write_csv("./Data/unique_string.csv", seperator=",")

AttributeError: 'Series' object has no attribute 'write_csv'

In [ ]:
#1
df_name.head(2)

In [ ]:
#2
df_akas.head(2)

In [ ]:
#3
df_basics.head(3)

In [ ]:
#4
df_crew.head(2)

In [ ]:
#5
df_episodes.head(2)

In [ ]:
#6
df_principals.head(2)

In [ ]:
df_ratings

In [ ]:
#7
df_ratings = df_ratings.sort(by="numVotes", descending= True)
# sorted_df = df.sort(["ratings", "movies"], reverse=[True, False])
df_ratings.head(10)