In [5]:
import pandas as pd
import numpy as np

### Ticket sales in Europe

In [6]:
df_admissions_EU = pd.read_csv('./data/Movie_numbers_1996-2023_EU.csv')

In [7]:
df_admissions_EU.isnull().sum()

Original title              0
Producing country           0
Production year             0
Directors                   0
Admissions 1996-1996        0
Total EU27+GB since 1996    0
dtype: int64

In [8]:
df_admissions_EU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Original title            5600 non-null   object
 1   Producing country         5600 non-null   object
 2   Production year           5600 non-null   int64
 3   Directors                 5600 non-null   object
 4   Admissions 1996-1996      5600 non-null   object
 5   Total EU27+GB since 1996  5600 non-null   object
dtypes: int64(1), object(5)
memory usage: 262.6+ KB

In [9]:
df_admissions_EU.head(20)

,Original title,Producing country,Production year,Directors,Admissions 1996-1996,Total EU27+GB since 1996
0,Independence Day,US,1996,Roland Emmerich,42 186 676,42 600 343
1,Mission: Impossible,US,1996,Brian De Palma,22 411 551,22 718 868
2,Se7en,US,1995,David Fincher,20 292 869,20 420 775
3,The Hunchback of Notre Dame,US,1996,"Gary Trousdale, Kirk Wise",19 576 371,24 660 478
4,Twister,US,1996,Jan de Bont,18 889 123,19 039 314
5,Toy Story,US,1995,John Lasseter,18 113 885,18 807 011
6,The Rock,US,1996,Michael Bay,16 511 947,16 828 183
7,The Nutty Professor,US,1996,Tom Shadyac,15 943 686,16 384 213
8,Jumanji,US,1995,Joe Johnston,13 237 471,13 298 839
9,Dangerous Minds,US,1995,John N. Smith,11 967 051,11 989 709
10,GoldenEye,"GBinc, US",1995,Martin Campbell,11 046 835,11 070 129
11,Babe,"AU, US",1995,Chris Noonan,10 549 641,10 621 705
12,Sense and Sensibility,"US, GB",1995,Ang Lee,10 346 450,10 375 938
13,Twelve Monkeys,US,1995,Terry Gilliam,10 110 055,10 348 799
14,Heat,US,1995,Michael Mann,9 936 691,9 964 674
15,Eraser,US,1996,Chuck Russell,9 227 852,9 341 118
16,Trainspotting,GB,1996,Danny Boyle,8 402 151,9 253 707
17,Spy Hard,US,1996,Rick Friedberg,6 912 414,6 990 772
18,Casino,US,1995,Martin Scorsese,6 281 693,6 324 541
19,Striptease,US,1996,Andrew Bergman,6 176 991,6 367 023

In [10]:
df_admissions_EU.rename(columns={'Admissions 1996-1996' : 'tickets_sold',
                                 'Total EU27+GB since 1996' : 'tickets_sold_since_1996',
                                 'Original title' : 'title',
                                 'Production year' : 'year'}, inplace=True)
df_admissions_EU.columns = df_admissions_EU.columns.str.lower().str.replace(' ', '_')
df_admissions_EU.drop(columns=['directors'], inplace=True)

In [11]:
df_admissions_EU['tickets_sold'] = df_admissions_EU['tickets_sold'].str.replace(' ', '')
df_admissions_EU['tickets_sold_since_1996'] = df_admissions_EU['tickets_sold_since_1996'].str.replace(' ', '')

In [12]:
df_admissions_EU['tickets_sold'] = pd.to_numeric(df_admissions_EU['tickets_sold'])
df_admissions_EU['tickets_sold_since_1996'] = pd.to_numeric(df_admissions_EU['tickets_sold_since_1996'])

In [13]:
df_admissions_EU.shape

(5600, 5)

In [14]:
df_admissions_EU['title'].nunique()

4916

In [15]:
df_admissions_EU_clean = df_admissions_EU.groupby(['title', 'producing_country', 'year', 'tickets_sold_since_1996']).sum().reset_index()
df_admissions_EU_clean

,title,producing_country,year,tickets_sold_since_1996,tickets_sold
0,(500) Days of Summer,US,2009,1713086,1684771
1,(Nie)znajomi,PL,2019,685075,684833
2,(T)Raumschiff Surprise - Periode 1,DE,2004,10763531,10731881
3,1 1/2 Ritter - Auf der Suche nach der hinreiße...,DE,2008,1986168,1986168
4,1 chance sur 2,FR,1998,1295620,1238175
...,...,...,...,...,...
4951,Ölümlü Dünya 2,TR,2023,1476943,1476943
4952,Účastníci zájezdu,CZ,2006,871439,830242
4953,Śluby panieńskie,PL,2010,1001866,1000373
4954,Świadectwo,PL,2008,1039901,1034911
4955,Ženy v pokušení,CZ,2010,1309118,1303914

In [16]:
display(df_admissions_EU_clean[df_admissions_EU_clean['title'] == 'Avatar'])
display(df_admissions_EU[df_admissions_EU['title'] == 'Avatar'])

      title producing_country  year  tickets_sold_since_1996  tickets_sold
377  Avatar                US  2009                 82622233      82505798

       title producing_country  year  tickets_sold  tickets_sold_since_1996
2603  Avatar                US  2009      24536394                 82622233
2800  Avatar                US  2009      55024931                 82622233
5236  Avatar                US  2009       2944473                 82622233

In [17]:
df_admissions_EU_clean.head(20)

,title,producing_country,year,tickets_sold_since_1996,tickets_sold
0,(500) Days of Summer,US,2009,1713086,1684771
1,(Nie)znajomi,PL,2019,685075,684833
2,(T)Raumschiff Surprise - Periode 1,DE,2004,10763531,10731881
3,1 1/2 Ritter - Auf der Suche nach der hinreiße...,DE,2008,1986168,1986168
4,1 chance sur 2,FR,1998,1295620,1238175
5,10 Cloverfield Lane,US,2016,2159630,2158947
6,10 Things I Hate About You,US,1999,2537429,2418949
7,10 giorni senza mamma,IT,2019,1206366,1204887
8,10 jours encore sans maman,FR,2023,769522,769522
9,10 jours sans maman,FR,2020,1329834,1326695
10,"10,000 BC",US,2008,7626265,7623301
11,100 Dinge,DE,2018,1868834,1850511
12,100% Wolf,AU,2020,948226,914430
13,101 Dalmatians,US,1996,21623260,21532085
14,102 Dalmatians,US,2000,13901278,13886567
15,12 Strong,US,2018,882755,882746
16,12 Years a Slave,"US, GB",2013,9722774,9291201
17,120,TR,2008,1075680,1066454
18,120 battements par minute,FR,2017,1044121,893887
19,127 Hours,"US, GB",2010,2787027,2783713

### Ticket sales in North America

In [18]:
df_admissions_NA = pd.read_csv('./Data/Movie_numbers_1996-2023_USA.csv')
df_admissions_NA.head(20)

,Rank,Movie,Release\nDate,Year,Distributor,Genre,1996 Gross,Tickets Sold
0,1,Independence Day,7/2/1996,1996,20th Century Fox,Adventure,"$306,169,255","69,269,062"
1,2,Twister,5/10/1996,1996,Warner Bros.,Action,"$241,688,385","54,680,630"
2,3,Mission: Impossible,5/21/1996,1996,Paramount Pictures,Action,"$180,981,886","40,946,128"
3,4,The Rock,6/7/1996,1996,Walt Disney,Action,"$134,069,511","30,332,468"
4,5,Ransom,11/8/1996,1996,Walt Disney,Action,"$129,181,606","29,226,607"
5,6,The Nutty Professor,6/28/1996,1996,Universal,Comedy,"$128,814,019","29,143,443"
6,7,The Birdcage,3/8/1996,1996,MGM,Comedy,"$124,060,553","28,067,998"
7,8,101 Dalmatians,11/27/1996,1996,Walt Disney,Adventure,"$121,795,758","27,555,601"
8,9,A Time to Kill,7/24/1996,1996,Warner Bros.,Drama,"$108,766,007","24,607,693"
9,10,The First Wives Club,9/20/1996,1996,Paramount Pictures,Comedy,"$104,670,012","23,680,998"
10,11,Phenomenon,7/5/1996,1996,Walt Disney,Drama,"$104,539,127","23,651,386"
11,12,Eraser,6/21/1996,1996,Warner Bros.,Action,"$101,295,562","22,917,547"
12,13,The Hunchback of Notre Dame,6/21/1996,1996,Walt Disney,Adventure,"$100,138,851","22,655,848"
13,14,Star Trek: First Contact,11/22/1996,1996,Paramount Pictures,Adventure,"$89,187,714","20,178,215"
14,15,Space Jam,11/15/1996,1996,Warner Bros.,Adventure,"$85,442,296","19,330,836"
15,16,Jerry Maguire,12/13/1996,1996,Sony Pictures,Romantic Comedy,"$83,338,125","18,854,779"
16,17,Mr. Holland's Opus,12/29/1995,1996,Walt Disney,Drama,"$82,450,788","18,654,024"
17,18,Broken Arrow,2/9/1996,1996,20th Century Fox,Action,"$70,645,997","15,983,257"
18,19,The Cable Guy,6/14/1996,1996,Sony Pictures,Black Comedy,"$60,240,295","13,629,026"
19,20,Courage Under Fire,7/12/1996,1996,20th Century Fox,Drama,"$59,003,384","13,349,181"

In [19]:
df_admissions_NA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          5600 non-null   int64
 1   Movie         5600 non-null   object
 2   Release
Date  5594 non-null   object
 3   Year          5600 non-null   int64
 4   Distributor   5580 non-null   object
 5   Genre         5596 non-null   object
 6   1996 Gross    5600 non-null   object
 7   Tickets Sold  5600 non-null   object
dtypes: int64(2), object(6)
memory usage: 350.1+ KB

In [20]:
df_admissions_NA['Release\nDate'] = pd.to_datetime(df_admissions_NA['Release\nDate'])
df_admissions_NA['Tickets Sold'] = df_admissions_NA['Tickets Sold'].str.replace(',', '')
df_admissions_NA['Tickets Sold'] = pd.to_numeric(df_admissions_NA['Tickets Sold'])

In [21]:
df_admissions_NA['1996 Gross'] = df_admissions_NA['1996 Gross'].str.replace(',', '')
df_admissions_NA['1996 Gross'] = df_admissions_NA['1996 Gross'].str.replace('$', '')

C:\Users\Luca\AppData\Local\Temp\ipykernel_29916\2233214535.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_admissions_NA['1996 Gross'] = df_admissions_NA['1996 Gross'].str.replace('$', '')

In [22]:
df_admissions_NA['1996 Gross'] = pd.to_numeric(df_admissions_NA['1996 Gross'])

In [23]:
df_admissions_NA.rename(columns={'Release\nDate' : 'release_date',
                                 'Movie' : 'title',
                                 '1996 Gross' : 'Gross_Sales',
                                 'Tickets Sold' : 'tickets_sold'}, inplace=True)
df_admissions_NA.columns = df_admissions_NA.columns.str.lower()
df_admissions_NA.columns

Index(['rank', 'title', 'release_date', 'year', 'distributor', 'genre',
       'gross_sales', 'tickets_sold'],
      dtype='object')

In [24]:
df_admissions_NA['title'].nunique()

4915

In [25]:
df_admissions_NA_clean = df_admissions_NA.groupby(['title', 'release_date', 'distributor']).sum().reset_index()
df_admissions_NA_clean.drop(columns=['rank', 'year'], inplace=True)
df_admissions_NA_clean.shape

C:\Users\Luca\AppData\Local\Temp\ipykernel_29916\3917120133.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_admissions_NA_clean = df_admissions_NA.groupby(['title', 'release_date', 'distributor']).sum().reset_index()

(4965, 5)

In [26]:
display(df_admissions_NA_clean[df_admissions_NA_clean['title'] == 'Avatar'])
display(df_admissions_NA[df_admissions_NA['title'] == 'Avatar'])

      title release_date       distributor  gross_sales  tickets_sold
391  Avatar   2009-12-18  20th Century Fox    785221649     101056465

,rank,title,release_date,year,distributor,genre,gross_sales,tickets_sold
2601,2,Avatar,2009-12-18,2009,20th Century Fox,Action,352114898,46948653
2801,2,Avatar,2009-12-18,2010,20th Century Fox,Action,408392727,51760802
5247,48,Avatar,2009-12-18,2022,20th Century Fox,Action,24714024,2347010

In [27]:
df_admissions_NA_clean.groupby(['title']).size().sort_values(ascending=False)

title
The Lord of the Rings: The …    4
Halloween                       3
Shall We Dance?                 2
The Postman                     2
Supernova                       2
                               ..
Her                             1
Hellraiser IV: Bloodline        1
Hello, My Name is Doris         1
Hellboy 2: The Golden Army      1
xXx: Return of Xander Cage      1
Length: 4901, dtype: int64

In [28]:
df_admissions_NA_clean[df_admissions_NA_clean['title'] == 'Halloween']

          title release_date         distributor  gross_sales  tickets_sold
1599  Halloween   1978-10-17  Compass Internati…       274000         29847
1600  Halloween   2007-08-31                 MGM     58269151       8469353
1601  Halloween   2018-10-19           Universal    159341510      17490835

In [29]:
display(df_admissions_NA_clean.head())
display(df_admissions_EU_clean.head())

,title,release_date,distributor,gross_sales,tickets_sold
0,(500) Days of Summer,2009-08-07,Fox Searchlight,32425665,4323422
1,10 Cloverfield Lane,2016-03-11,Paramount Pictures,72082999,8333294
2,10 Things I Hate About You,1999-03-31,Walt Disney,38177966,7515347
3,"10,000 B.C.",2008-03-07,Warner Bros.,94784201,13201142
4,101 Dalmatians,1996-11-27,Walt Disney,136189294,30691447

,title,producing_country,year,tickets_sold_since_1996,tickets_sold
0,(500) Days of Summer,US,2009,1713086,1684771
1,(Nie)znajomi,PL,2019,685075,684833
2,(T)Raumschiff Surprise - Periode 1,DE,2004,10763531,10731881
3,1 1/2 Ritter - Auf der Suche nach der hinreiße...,DE,2008,1986168,1986168
4,1 chance sur 2,FR,1998,1295620,1238175

### IMDB DATA

In [30]:
df_movie_list_years = pd.read_csv('./Data/movie_list_years.csv')
df_akas = pd.read_csv('./Data/title.akas.csv')
df_basics = pd.read_csv('./Data/title.basics.csv')
df_crew = pd.read_csv('./Data/title.crew.csv')
df_principals = pd.read_csv('./Data/title.principals.csv')
df_ratings = pd.read_csv('./Data/title.ratings.csv')
df_names = pd.read_csv('./Data/name.basics.csv')

In [31]:
df_movie_list_years.replace('\\N', np.nan, inplace=True)
df_akas.replace('\\N', np.nan, inplace=True)
df_basics.replace('\\N', np.nan, inplace=True)
df_crew.replace('\\N', np.nan, inplace=True)
df_principals.replace('\\N', np.nan, inplace=True)
df_ratings.replace('\\N', np.nan, inplace=True)
df_names.replace('\\N', np.nan, inplace=True)

In [32]:
display(df_ratings.head(1))

      tconst  averageRating  numVotes
0  tt0000001            5.7      2082

In [33]:
df_crew_named = df_crew.merge(df_names, how='left', left_on='directors', right_on='nconst')
df_crew_named.drop(columns=['nconst', 'birthYear', 'deathYear', 'primaryProfession'], inplace=True)

In [34]:
df_crew_named.rename(columns={'primaryName' : 'directors_name',
                              'knownForTitles' : 'known_for_directing'}, inplace=True)

In [35]:
df_crew_named['writers'].str.count(',').sort_values(ascending=False)

427635      1359.0
3708478     1088.0
3175112      746.0
790006       652.0
8004000      649.0
             ...
10401642       NaN
10401648       NaN
10401654       NaN
10401658       NaN
10401667       NaN
Name: writers, Length: 10401681, dtype: float64

In [36]:
df_crew_named.iloc[427635]

tconst                                                         tt0441074
directors              nm0417370,nm0361540,nm3874442,nm0344761,nm1337...
writers                nm2556881,nm0417370,nm0051304,nm0610720,nm0293...
directors_name                                                       NaN
known_for_directing                                                  NaN
Name: 427635, dtype: object

### IMDB Final / Merging

In [37]:
df_imdb_final = df_movie_list_years.merge(df_crew, how='left', on='tconst')

In [38]:
df_imdb_final.shape

(664040, 11)

In [39]:
df_imdb_final['directors'].str.count(',').nunique()

54

In [40]:
df_imdb_final['directors_count'] = df_imdb_final['directors'].str.count(',') + 1
df_imdb_final['directors_count'].value_counts()/len(df_imdb_final) * 100

1.0     84.594452
2.0      7.370490
3.0      0.791820
4.0      0.215951
5.0      0.112041
6.0      0.066261
7.0      0.045329
8.0      0.032076
10.0     0.025601
9.0      0.022438
11.0     0.010993
12.0     0.007530
13.0     0.006927
15.0     0.003313
14.0     0.003012
18.0     0.001958
19.0     0.001958
20.0     0.001958
16.0     0.001807
22.0     0.001355
21.0     0.001355
17.0     0.001355
31.0     0.001205
26.0     0.000904
27.0     0.000753
34.0     0.000602
25.0     0.000602
24.0     0.000602
40.0     0.000452
39.0     0.000452
28.0     0.000452
29.0     0.000452
51.0     0.000452
32.0     0.000452
30.0     0.000301
38.0     0.000301
36.0     0.000301
41.0     0.000301
53.0     0.000301
33.0     0.000301
23.0     0.000301
58.0     0.000151
46.0     0.000151
48.0     0.000151
87.0     0.000151
59.0     0.000151
74.0     0.000151
63.0     0.000151
50.0     0.000151
57.0     0.000151
35.0     0.000151
64.0     0.000151
69.0     0.000151
66.0     0.000151
Name: directors_count, dtype: float64

In [41]:
df_imdb_final[['director', 'director2', 'director3']] = df_imdb_final['directors'].str.split(',', n=2, expand=True)
df_imdb_final.drop(columns='directors', inplace=True)

In [42]:
df_imdb_final['writers_count'] = df_imdb_final['writers'].str.count(',') + 1
df_imdb_final['writers_count'].value_counts()/len(df_imdb_final[df_imdb_final['writers_count'].notnull()]) * 100

1.0     57.298044
2.0     27.671105
3.0      9.598918
4.0      3.254905
5.0      1.148129
6.0      0.463667
7.0      0.211159
8.0      0.117222
9.0      0.073263
10.0     0.061220
11.0     0.025692
12.0     0.018065
13.0     0.013248
15.0     0.008832
14.0     0.008230
16.0     0.003613
17.0     0.003412
18.0     0.002810
22.0     0.002007
19.0     0.001806
21.0     0.001606
25.0     0.001606
23.0     0.001606
20.0     0.001405
24.0     0.001204
27.0     0.000803
29.0     0.000803
30.0     0.000602
28.0     0.000602
32.0     0.000401
33.0     0.000401
43.0     0.000401
26.0     0.000401
39.0     0.000401
42.0     0.000201
52.0     0.000201
64.0     0.000201
49.0     0.000201
47.0     0.000201
58.0     0.000201
41.0     0.000201
51.0     0.000201
69.0     0.000201
35.0     0.000201
31.0     0.000201
36.0     0.000201
Name: writers_count, dtype: float64

In [43]:
df_imdb_final[['writer', 'writer2', 'writer3']] = df_imdb_final['writers'].str.split(',', n=2, expand=True)
df_imdb_final.drop(columns='writers', inplace=True)

In [44]:
df_imdb_final

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors_count,director,director2,director3,writers_count,writer,writer2,writer3
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime",1.0,nm0681726,None,None,2.0,nm0483944,nm0681726,None
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary,2.0,nm0412842,nm0895048,None,NaN,NaN,NaN,None
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,NaN,60,NaN,1.0,nm0615736,None,None,NaN,NaN,NaN,None
3,tt0015724,movie,Dama de noche,Dama de noche,0,1993,NaN,102,"Drama,Mystery,Romance",1.0,nm0529960,None,None,2.0,nm0529960,nm1597742,None
4,tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,NaN,56,Western,1.0,nm0289297,None,None,1.0,nm0119378,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664035,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary,1.0,nm0652213,None,None,2.0,nm0652213,nm10538576,None
664036,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama,1.0,nm10538592,None,None,1.0,nm10538592,None,None
664037,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy,1.0,nm7764440,None,None,1.0,nm7933903,None,None
664038,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,Drama,1.0,nm10538612,None,None,1.0,nm10538612,None,None
664039,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary,2.0,nm9272490,nm8349149,None,2.0,nm8349149,nm9272490,None

### Set option

In [162]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', 10)

In [46]:
df_imdb_final = df_imdb_final.merge(df_names[['nconst', 'primaryName']], how='left', left_on='director', right_on='nconst')
df_imdb_final.drop(columns='nconst', inplace=True)
df_imdb_final.rename(columns={'primaryName' : 'director_name'}, inplace=True)
df_imdb_final = df_imdb_final.merge(df_names[['nconst', 'primaryName']], how='left', left_on='director2', right_on='nconst')
df_imdb_final.drop(columns='nconst', inplace=True)
df_imdb_final.rename(columns={'primaryName' : 'director2_name'}, inplace=True)
df_imdb_final = df_imdb_final.merge(df_names[['nconst', 'primaryName']], how='left', left_on='director3', right_on='nconst')
df_imdb_final.drop(columns='nconst', inplace=True)
df_imdb_final.rename(columns={'primaryName' : 'director3_name'}, inplace=True)

In [47]:
df_imdb_final = df_imdb_final.merge(df_names[['nconst', 'primaryName']], how='left', left_on='writer', right_on='nconst')
df_imdb_final.drop(columns='nconst', inplace=True)
df_imdb_final.rename(columns={'primaryName' : 'writer_name'}, inplace=True)
df_imdb_final = df_imdb_final.merge(df_names[['nconst', 'primaryName']], how='left', left_on='writer2', right_on='nconst')
df_imdb_final.drop(columns='nconst', inplace=True)
df_imdb_final.rename(columns={'primaryName' : 'writer2_name'}, inplace=True)
df_imdb_final = df_imdb_final.merge(df_names[['nconst', 'primaryName']], how='left', left_on='writer3', right_on='nconst')
df_imdb_final.drop(columns='nconst', inplace=True)
df_imdb_final.rename(columns={'primaryName' : 'writer3_name'}, inplace=True)

In [48]:
df_imdb_final

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors_count,...,writers_count,writer,writer2,writer3,director_name,director2_name,director3_name,writer_name,writer2_name,writer3_name
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime",1.0,...,2.0,nm0483944,nm0681726,None,Lupu Pick,NaN,NaN,Gerhard Lamprecht,Lupu Pick,NaN
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary,2.0,...,NaN,NaN,NaN,None,Nikolai Izvolov,Dziga Vertov,NaN,NaN,NaN,NaN
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,NaN,60,NaN,1.0,...,NaN,NaN,NaN,None,Musidora,NaN,NaN,NaN,NaN,NaN
3,tt0015724,movie,Dama de noche,Dama de noche,0,1993,NaN,102,"Drama,Mystery,Romance",1.0,...,2.0,nm0529960,nm1597742,None,Eva López Sánchez,NaN,NaN,Eva López Sánchez,David Martin del Campo,NaN
4,tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,NaN,56,Western,1.0,...,1.0,nm0119378,None,None,Wallace Fox,NaN,NaN,Adele Buffington,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664035,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary,1.0,...,2.0,nm0652213,nm10538576,None,Luis Ospina,NaN,NaN,Luis Ospina,Diego Rojas,NaN
664036,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama,1.0,...,1.0,nm10538592,None,None,Andrzej Bartnikowski,NaN,NaN,Andrzej Bartnikowski,NaN,NaN
664037,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy,1.0,...,1.0,nm7933903,None,None,Kanchan Nayak,NaN,NaN,Sudhir Nikam,NaN,NaN
664038,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,Drama,1.0,...,1.0,nm10538612,None,None,Kiran Gawade,NaN,NaN,Kiran Gawade,NaN,NaN
664039,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary,2.0,...,2.0,nm8349149,nm9272490,None,Angela Gurgel,Vinicius Augusto Bozzo,NaN,Vinicius Augusto Bozzo,Angela Gurgel,NaN

### Principals

In [49]:
df_principals['category'].isin(['actor', 'actress'])

0           False
1           False
2           False
3           False
4           False
            ...
85866208    False
85866209    False
85866210    False
85866211    False
85866212    False
Name: category, Length: 85866213, dtype: bool

In [50]:
df_principals['ordering'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75], dtype=int64)

In [51]:
df_principals['tconst'].nunique()

9782368

In [52]:
# df_principals[df_principals['category'].isin(['actor', 'actress'])].groupby('ordering').size() / (df_principals['tconst'].nunique()) * 100

In [53]:
# df_principals[df_principals['category'].isin(['actor', 'actress'])].groupby('ordering').size() / (df_principals.loc[df_principals['category'].isin(['actor', 'actress']), ['tconst']].nunique()[0]) * 100

In [54]:
df_principals_filtered = df_principals.copy()

In [55]:
df_principals_filtered = df_principals_filtered[df_principals_filtered['category'].isin(['actor', 'actress'])]

In [56]:
df_principals_filtered['category'].unique()

array(['actor', 'actress'], dtype=object)

In [57]:
df_principals_filtered = df_principals_filtered[df_principals_filtered['ordering'] <= 5]

In [58]:
df_principals_filtered['ordering'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [59]:
df_principals_filtered['tconst'].nunique()

5954471

In [60]:
df_principals_filtered = df_principals_filtered.merge(df_names[['nconst', 'primaryName']], how='left', on='nconst')

In [61]:
df_principals_filtered.rename(columns={'primaryName' : 'a_name'}, inplace=True)

In [62]:
df_principals_filtered = df_principals_filtered.pivot(index='tconst', columns='ordering', values='a_name')

In [63]:
df_principals_filtered = df_principals_filtered.reset_index()

In [64]:
df_principals_filtered.rename_axis(None)

ordering,tconst,1,2,3,4,5
0,tt0000005,Charles Kayser,John Ott,NaN,NaN,NaN
1,tt0000007,James J. Corbett,Peter Courtney,NaN,NaN,NaN
2,tt0000008,Fred Ott,NaN,NaN,NaN,NaN
3,tt0000009,Blanche Bayliss,William Courtenay,Chauncey Depew,NaN,NaN
4,tt0000011,Grunato,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
5954466,tt9916848,Pelin Akil,Sarp Akkaya,Ilter Akçebe,Zeynep Alkan,Ilgin Angin
5954467,tt9916850,Pelin Akil,Sarp Akkaya,Ilter Akçebe,Zeynep Alkan,Ilgin Angin
5954468,tt9916852,Pelin Akil,Sarp Akkaya,Ilter Akçebe,Zeynep Alkan,Ilgin Angin
5954469,tt9916856,Leni Wesselman,Anna Fitoussi,Andreas Demmel,Kathrin Knöpfle,Beatrice Bresolin
5954470,tt9916880,Lizzie Waterworth,Aidan Cook,Aidan Cook,Aidan Cook,Sue Elliott-Nichols

In [65]:
df_principals_filtered.rename_axis('', axis=1, inplace=True)

In [66]:
df_principals_filtered.rename(columns={1 : 'acting',
                                       2 : 'acting2',
                                       3 : 'acting3',
                                       4 : 'acting4',
                                       5 : 'acting5'}, inplace=True)

In [67]:
df_principals_filtered

,tconst,acting,acting2,acting3,acting4,acting5
0,tt0000005,Charles Kayser,John Ott,NaN,NaN,NaN
1,tt0000007,James J. Corbett,Peter Courtney,NaN,NaN,NaN
2,tt0000008,Fred Ott,NaN,NaN,NaN,NaN
3,tt0000009,Blanche Bayliss,William Courtenay,Chauncey Depew,NaN,NaN
4,tt0000011,Grunato,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
5954466,tt9916848,Pelin Akil,Sarp Akkaya,Ilter Akçebe,Zeynep Alkan,Ilgin Angin
5954467,tt9916850,Pelin Akil,Sarp Akkaya,Ilter Akçebe,Zeynep Alkan,Ilgin Angin
5954468,tt9916852,Pelin Akil,Sarp Akkaya,Ilter Akçebe,Zeynep Alkan,Ilgin Angin
5954469,tt9916856,Leni Wesselman,Anna Fitoussi,Andreas Demmel,Kathrin Knöpfle,Beatrice Bresolin
5954470,tt9916880,Lizzie Waterworth,Aidan Cook,Aidan Cook,Aidan Cook,Sue Elliott-Nichols

In [68]:
df_imdb_final = df_imdb_final.merge(df_principals_filtered, how='left', on='tconst')

In [69]:
df_akas.rename(columns={'titleId' : 'tconst'}, inplace=True)

### Ratings

In [70]:
df_imdb_final = df_imdb_final.merge(df_ratings, how='left', on='tconst')

In [71]:
df_imdb_final

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors_count,...,writer_name,writer2_name,writer3_name,acting,acting2,acting3,acting4,acting5,averageRating,numVotes
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime",1.0,...,Gerhard Lamprecht,Lupu Pick,NaN,Lupu Pick,Edith Posca,Johannes Riemann,Fritz Schulz,Albert Patry,NaN,NaN
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7,73.0
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,NaN,60,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.4,17.0
3,tt0015724,movie,Dama de noche,Dama de noche,0,1993,NaN,102,"Drama,Mystery,Romance",1.0,...,Eva López Sánchez,David Martin del Campo,NaN,Rafael Sánchez Navarro,Cecilia Toussaint,Miguel Córcega,Regina Orozco,Abel Woolrich,6.5,30.0
4,tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,NaN,56,Western,1.0,...,Adele Buffington,NaN,NaN,Whip Wilson,Andy Clyde,Nancy Saunders,Dennis Moore,John Merton,6.1,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664035,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary,1.0,...,Luis Ospina,Diego Rojas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664036,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama,1.0,...,Andrzej Bartnikowski,NaN,NaN,Sambor Czarnota,Marzena Bergmann,Marta Chyczewska,Zbigniew Zamachowski,Filip Bobek,NaN,NaN
664037,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy,1.0,...,Sudhir Nikam,NaN,NaN,Makarand Anaspure,Anvay Bendre,Prakash Dhotre,Ashwini Ekbote,Suvarna Kale,7.8,6.0
664038,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,Drama,1.0,...,Kiran Gawade,NaN,NaN,Devadhar Archit,Sunil Barve,Ganesh Vasant Patil,Bhushan Pradhan,Pranav Raorane,7.0,12.0
664039,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary,2.0,...,Vinicius Augusto Bozzo,Angela Gurgel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Filtering

In [72]:
# Filtering for years
df_imdb_final = df_imdb_final[(df_imdb_final['startYear'] >= 1998) & (df_imdb_final['startYear'] <= 2023)]

In [73]:
df_imdb_final[df_imdb_final['tconst'] == 'tt7846844']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors_count,...,writer_name,writer2_name,writer3_name,acting,acting2,acting3,acting4,acting5,averageRating,numVotes
628885,tt7846844,movie,Enola Holmes,Enola Holmes,0,2020,NaN,123,"Action,Adventure,Crime",1.0,...,Jack Thorne,Nancy Springer,Arthur Conan Doyle,Millie Bobby Brown,Henry Cavill,Sam Claflin,Helena Bonham Carter,Louis Partridge,6.6,224634.0

In [74]:
df_imdb_final = df_imdb_final[df_imdb_final['titleType'] == 'movie']

In [75]:
df_imdb_final.drop(columns=['director', 'director2', 'director3', 'writer', 'writer2', 'writer3'], inplace=True)

In [76]:
df_imdb_final.rename(columns={'titleType' : 'title_type',
                              'primaryTitle' : 'primary_title',
                              'originalTitle' : 'original_title',
                              'isAdult' : 'is_adult',
                              'startYear' : 'year',
                              'endYear' : 'end_year',
                              'runtimeMinutes' : 'runtime',
                              'averageRating' : 'average_rating',
                              'numVotes' : 'num_votes'}, inplace=True)

In [77]:
df_imdb_final.drop(columns=['end_year'], inplace=True)

In [78]:
df_imdb_final[df_imdb_final['average_rating'].notnull()].count()

tconst             185447
title_type         185447
primary_title      185447
original_title     185447
is_adult           185447
year               185447
runtime            167809
genres             182213
directors_count    183088
writers_count      159168
director_name      183088
director2_name      20639
director3_name       1834
writer_name        159168
writer2_name        73189
writer3_name        16967
acting             146282
acting2            142550
acting3            139273
acting4            135156
acting5            130656
average_rating     185447
num_votes          185447
dtype: int64

In [79]:
df_imdb_final.isnull().sum()

tconst                  0
title_type              0
primary_title           0
original_title          0
is_adult                0
year                    0
runtime             73103
genres              17142
directors_count     16306
writers_count       79490
director_name       16306
director2_name     295600
director3_name     327137
writer_name         79490
writer2_name       232821
writer3_name       309191
acting             104602
acting2            118287
acting3            128533
acting4            140800
acting5            151850
average_rating     144743
num_votes          144743
dtype: int64

In [80]:
df_imdb_final.to_csv('./Data/df_imdb_final.csv')

In [81]:
df_imdb_final.shape

(330190, 23)

### Genre cleaning

In [82]:
df_imdb_final[df_imdb_final['genres'].str.count(',') == 2.0]

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,genres,directors_count,writers_count,...,writer_name,writer2_name,writer3_name,acting,acting2,acting3,acting4,acting5,average_rating,num_votes
11,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",1.0,2.0,...,Steven Rogers,James Mangold,NaN,Meg Ryan,Hugh Jackman,Liev Schreiber,Breckin Meyer,Natasha Lyonne,6.4,89944.0
37309,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi",2.0,1.0,...,Ted Newsom,NaN,NaN,Kenneth Tobey,Brinke Stevens,R.G. Wilson,John Goodwin,Cathy Cahn,5.2,353.0
46267,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017,80,"Comedy,Drama,Fantasy",2.0,2.0,...,Pía Rey,Raúl Ruiz,NaN,Luis Alarcón,Patricia Rivadeneira,Francisco Reyes,Consuelo Castillo,Roberto Poblete,6.5,367.0
49805,tt0104946,movie,Music for the Movies: Bernard Herrmann,Music for the Movies: Bernard Herrmann,0,1999,58,"Biography,Documentary,Music",1.0,NaN,...,NaN,NaN,NaN,Philip Bosco,NaN,NaN,NaN,NaN,7.5,210.0
54258,tt0111068,movie,Sangharsh,Sangharsh,0,1999,127,"Action,Crime,Drama",1.0,3.0,...,Mahesh Bhatt,Girish Dhamija,Thomas Harris,Preity G Zinta,Akshay Kumar,Ashutosh Rana,Vishwajeet Pradhan,Aman Verma,6.7,5857.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664005,tt9914828,movie,The War of Godzilla,The War of Godzilla,0,2015,102,"Action,Comedy,Family",1.0,5.0,...,Hiro,Jake,NaN,Liam,The Man,Mario,Michael,Kenpachiro,NaN,NaN
664015,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019,97,"Comedy,Drama,Fantasy",1.0,1.0,...,Ryuho Okawa,NaN,NaN,Hinako Saeki,Fumika Shimizu,NaN,NaN,NaN,6.4,9.0
664020,tt9916132,movie,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,0,2018,94,"Biography,Documentary,History",1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664025,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller",1.0,1.0,...,Fraser Precious,NaN,NaN,Patrick Gallagher,Takayuki Suzuki,Sean Cronin,Akie Kotabe,Andrei Nova,3.6,262.0
664030,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,"Adventure,History,War",1.0,NaN,...,NaN,NaN,NaN,Kenan Heppe,Wang Peng Kai,Valery Gadreau,Xiang-Ling Hou,Wenli Jiang,3.6,19.0

In [83]:
df_imdb_final['genres_count'] = df_imdb_final['genres'].str.count(',') + 1

In [84]:
df_imdb_final.groupby('genres_count').size() / (len(df_imdb_final)) * 100

genres_count
1.0    60.006057
2.0    18.244950
3.0    16.557437
dtype: float64

In [85]:
df_imdb_final[['genre', 'genre2', 'genre3']] = df_imdb_final['genres'].str.split(',', n=2, expand=True)

In [86]:
df_imdb_final.drop(columns='genres', inplace=True)

In [87]:
df_imdb_final[df_imdb_final['genre'].isin(['Talk-Show', 'Reality-TV', 'Game-Show'])]

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
219951,tt10187078,movie,In Deep Water,In Deep Water,0,2019,60,1.0,1.0,Nick Peterson,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Reality-TV,None,None
220423,tt10203002,movie,Chyornyy fraer 3: burakku sutoka tokyo drift,Chyornyy fraer 3: burakku sutoka tokyo drift,0,2019,NaN,1.0,NaN,Dmitriy Shukhov,...,Obekt Tsifry,Anya Star,Andrey Levitskiy,Dmitriy Shukhov,NaN,NaN,1.0,Reality-TV,None,None
222119,tt10272264,movie,Gregor Barnsdale's Hard Truths,Gregor Barnsdale's Hard Truths,0,2019,75,1.0,2.0,Adam Sandy,...,Adam Sandy,Mark Wisdom,NaN,NaN,NaN,NaN,1.0,Talk-Show,None,None
222660,tt10294406,movie,EA Madden NFL 19 Challenge,EA Madden NFL 19 Challenge,0,2019,NaN,NaN,NaN,NaN,...,Megan Peta Hill,NaN,NaN,NaN,NaN,NaN,2.0,Reality-TV,Sport,None
225211,tt10402844,movie,The Nick & Tub Podcast,The Nick & Tub Podcast,0,2019,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Talk-Show,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656410,tt9422984,movie,Jerry Trimble Jr. Presentation,Jerry Trimble Jr. Presentation,0,2018,NaN,1.0,NaN,Amy Dinh,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Talk-Show,None,None
657324,tt9490092,movie,D23: Mickey Mouse Club Celebration,D23: Mickey Mouse Club Celebration,0,2015,90,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Talk-Show,None,None
658521,tt9572682,movie,RV Walk-Thru - The Basics,RV Walk-Thru - The Basics,0,2004,NaN,1.0,2.0,CJ Collard,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Reality-TV,None,None
661985,tt9787358,movie,Semeen razkosh,Semeen razkosh,0,2019,83,1.0,1.0,Mimo Garcia,...,NaN,Polly Midzinova,NaN,NaN,NaN,NaN,1.0,Reality-TV,None,None
662589,tt9822894,movie,Never Forgotten,Never Forgotten,0,2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Reality-TV,None,None

In [88]:
df_imdb_final.head()

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,1.0,2.0,Lupu Pick,...,Edith Posca,Johannes Riemann,Fritz Schulz,Albert Patry,NaN,NaN,2.0,Action,Crime,None
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,94,2.0,NaN,Nikolai Izvolov,...,NaN,NaN,NaN,NaN,6.7,73.0,1.0,Documentary,None,None
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,60,1.0,NaN,Musidora,...,NaN,NaN,NaN,NaN,5.4,17.0,NaN,NaN,NaN,NaN
11,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,1.0,2.0,James Mangold,...,Hugh Jackman,Liev Schreiber,Breckin Meyer,Natasha Lyonne,6.4,89944.0,3.0,Comedy,Fantasy,Romance
16269,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,70,2.0,2.0,Raúl Ruiz,...,Claudia Paz,Luis Alarcón,Shenda Román,Luis Vilches,6.5,190.0,1.0,Drama,None,None

### Dropping NaN Ratings

In [89]:
df_imdb_final[df_imdb_final['average_rating'].isnull()]

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,1.0,2.0,Lupu Pick,...,Edith Posca,Johannes Riemann,Fritz Schulz,Albert Patry,NaN,NaN,2.0,Action,Crime,None
28459,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022,46,1.0,NaN,Augusto Cabrita,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Documentary,None,None
54516,tt0111414,movie,A Thin Life,A Thin Life,0,2018,75,1.0,1.0,Frank Howson,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Comedy,None,None
57416,tt0115935,movie,Conception,Conception,0,1998,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58129,tt0116847,movie,Leftovers,Leftovers,0,2000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664022,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0,1999,45,1.0,1.0,Luis Ospina,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Documentary,None,None
664024,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,0,2017,84,1.0,NaN,Frank König,...,Helmut Schiffner,Andree Steinke,NaN,NaN,NaN,NaN,1.0,Documentary,None,None
664034,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,57,2.0,2.0,Angela Gurgel,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Documentary,None,None
664035,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,100,1.0,2.0,Luis Ospina,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Documentary,None,None
664039,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,49,2.0,2.0,Angela Gurgel,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Documentary,None,None

In [90]:
df_imdb_final = df_imdb_final[df_imdb_final['average_rating'].notnull()]

### WIEDER MIT GENRES BESCHAEFTIGEN

In [91]:
df_imdb_final['genre'].unique()

array(['Documentary', nan, 'Comedy', 'Drama', 'Horror', 'Action',
       'Biography', 'Crime', 'Adventure', 'Musical', 'Sci-Fi', 'Thriller',
       'Fantasy', 'Family', 'History', 'Romance', 'Mystery', 'Animation',
       'Adult', 'Music', 'Western', 'War', 'Sport', 'News', 'Reality-TV',
       'Talk-Show'], dtype=object)

In [92]:
df_imdb_final = df_imdb_final[~df_imdb_final['genre'].isin(['Talk-Show', 'Reality-TV'])]
df_imdb_final = df_imdb_final[~df_imdb_final['genre2'].isin(['Talk-Show', 'Reality-TV'])]
df_imdb_final = df_imdb_final[~df_imdb_final['genre3'].isin(['Talk-Show', 'Reality-TV', 'Game-Show'])]

In [93]:
df_imdb_final[df_imdb_final['genre'] == 'News']

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
235701,tt1082847,movie,Ja en tenim prou,Ja en tenim prou,0,2007,90,5.0,4.0,Antoni P. Canet,...,Alfons Cervera,Rafa Xambó,NaN,NaN,6.1,19.0,1.0,News,None,None
397094,tt2097994,movie,Be a Millionaire with Ishah,Be a Millionaire with Ishah,0,2011,54,1.0,1.0,Ishah Laurah Wright,...,NaN,NaN,NaN,NaN,5.2,19.0,1.0,News,None,None
397824,tt21048424,movie,Y,Y,0,2022,152,1.0,3.0,Ajit Wadikar,...,Mukta Barve,Omkar Govardhan,Rohit Kokate,Vishal Kulthe,9.1,45.0,1.0,News,None,None
457362,tt27731385,movie,2023 MTV Movie & TV Awards,2023 MTV Movie & TV Awards,0,2023,NaN,1.0,NaN,Joe DeMaio,...,Adrian Blanco,NaN,NaN,NaN,3.5,29.0,1.0,News,None,None
477800,tt29766795,movie,Dilon Mein Uphaan,Dilon Mein Uphaan,0,2023,108,1.0,1.0,Sukhwinder Singh,...,Avvel Bhagat,Neeta Mohindra,Kavya Shukla,Ashutosh Sinha,8.9,204.0,1.0,News,None,None
531288,tt3835130,movie,En Nou Wij FF,En Nou Wij FF,0,2013,NaN,1.0,NaN,Valentijn Kempkes,...,NaN,NaN,NaN,NaN,8.3,10.0,1.0,News,None,None

In [94]:
df_imdb_final[df_imdb_final['genre2'] == 'News']

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
230560,tt1060234,movie,8th Wonderland,8th Wonderland,0,2008,94,2.0,2.0,Nicolas Alberny,...,Robert William Bradford,Alain Azerot,Eloissa Florez,Ahlima Mhamdi,6.1,516.0,3.0,Drama,News,Thriller
238549,tt10954574,movie,Margaret Atwood: Live in Cinemas,Margaret Atwood: Live in Cinemas,0,2019,110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,10.0,2.0,Documentary,News,None
257243,tt1185396,movie,Sharon,Sharon,0,2007,90,1.0,1.0,Dror Moreh,...,NaN,NaN,NaN,NaN,7.4,43.0,2.0,Documentary,News,None
277453,tt1286537,movie,"Food, Inc.","Food, Inc.",0,2008,94,1.0,3.0,Robert Kenner,...,NaN,NaN,NaN,NaN,7.8,52422.0,2.0,Documentary,News,None
310064,tt1426386,movie,Lost Angels: Skid Row Is My Home,Lost Angels: Skid Row Is My Home,0,2010,77,1.0,1.0,Thomas Napper,...,NaN,NaN,NaN,Terri Hughes,7.5,668.0,2.0,Documentary,News,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626830,tt7745984,movie,The Edge of Success,The Edge of Success,0,2019,72,2.0,1.0,Kathryn Basiji,...,NaN,NaN,NaN,NaN,6.2,29.0,2.0,Documentary,News,None
628849,tt7844518,movie,Bellingcat: Truth in a Post-Truth World,Bellingcat: Truth in a Post-Truth World,0,2018,88,1.0,1.0,Hans Pool,...,NaN,NaN,NaN,NaN,7.3,774.0,2.0,Documentary,News,None
629945,tt7904298,movie,9/11: 15 Years of Lies An Cover-up,9/11: 15 Years of Lies An Cover-up,0,2016,150,1.0,1.0,James Corbett,...,NaN,NaN,NaN,NaN,7.4,13.0,2.0,Documentary,News,None
637996,tt8363914,movie,No Safe Spaces,No Safe Spaces,0,2019,100,1.0,1.0,Justin Folk,...,NaN,NaN,NaN,NaN,7.1,2771.0,3.0,Documentary,News,War
656675,tt9441050,movie,The 100 Year March: A Philosopher in Poland,The 100 Year March: A Philosopher in Poland,0,2018,63,1.0,1.0,Stefan Molyneux,...,NaN,NaN,NaN,NaN,5.6,17.0,2.0,Documentary,News,None

In [95]:
df_imdb_final[df_imdb_final['genre3'] == 'News']

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
145148,tt0326095,movie,Ruthie and Connie: Every Room in the House,Ruthie and Connie: Every Room in the House,0,2002,65,1.0,NaN,Deborah Dickson,...,NaN,NaN,NaN,NaN,8.3,51.0,3.0,Biography,Documentary,News
169239,tt0388789,movie,Born Into Brothels: Calcutta's Red Light Kids,Born Into Brothels: Calcutta's Red Light Kids,0,2004,85,2.0,2.0,Zana Briski,...,Avijit Halder,Shanti Das,Manik,Puja Mukerjee,7.2,18144.0,3.0,Biography,Documentary,News
189764,tt0462318,movie,The Great Conspiracy: The 9/11 News Special Yo...,The Great Conspiracy: The 9/11 News Special Yo...,0,2005,70,1.0,1.0,Barrie Zwicker,...,NaN,NaN,NaN,NaN,6.7,174.0,3.0,Documentary,History,News
205564,tt0832316,movie,Policing the Pacific,Policing the Pacific,0,2007,NaN,2.0,2.0,Alan D'Arcy Erson,...,NaN,NaN,NaN,NaN,8.3,16.0,3.0,Documentary,History,News
216955,tt10058864,movie,The Third Strike,The Third Strike,0,2020,88,1.0,1.0,Nicole Jones,...,NaN,NaN,NaN,NaN,4.1,13.0,3.0,Crime,Documentary,News
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636675,tt8286934,movie,In the Name of Love!,In the Name of Love!,0,2022,52,1.0,3.0,Sudipto Sen,...,NaN,NaN,NaN,NaN,6.3,79.0,3.0,Crime,Documentary,News
647183,tt8893608,movie,Two Catalonias,Dos Cataluñas,0,2018,116,2.0,2.0,Álvaro Longoria,...,NaN,NaN,NaN,NaN,6.4,806.0,3.0,Documentary,History,News
654933,tt9328986,movie,This Little Land of Mines,This Little Land of Mines,0,2019,64,1.0,NaN,Erin McGoff,...,NaN,NaN,NaN,NaN,8.1,56.0,3.0,Documentary,Drama,News
656492,tt9427536,movie,We Stand Corrected: Dannemora,We Stand Corrected: Dannemora,0,2018,73,1.0,NaN,Richie Elson,...,NaN,NaN,NaN,NaN,5.5,50.0,3.0,Crime,Documentary,News
657953,tt9535480,movie,Quiet Explosions: Healing the Brain,Quiet Explosions: Healing the Brain,0,2020,99,1.0,1.0,Jerri Sher,...,NaN,NaN,NaN,NaN,7.0,72.0,3.0,Documentary,Drama,News

In [96]:
df_imdb_final['genre2'].unique()

array([None, nan, 'Fantasy', 'Horror', 'Music', 'Drama', 'Romance',
       'Documentary', 'Mystery', 'Crime', 'History', 'Thriller',
       'Adventure', 'War', 'Comedy', 'Family', 'Sport', 'Sci-Fi',
       'Musical', 'Animation', 'Western', 'Biography', 'News', 'Adult'],
      dtype=object)

In [97]:
df_imdb_final['genre3'].unique()

array([None, nan, 'Romance', 'Sci-Fi', 'Fantasy', 'Music', 'Drama', 'War',
       'Thriller', 'Comedy', 'Mystery', 'Family', 'Musical', 'Crime',
       'Horror', 'Western', 'Animation', 'Sport', 'Biography', 'History',
       'Documentary', 'News'], dtype=object)

In [98]:
pd.options.mode.copy_on_write = True

In [99]:
df_imdb_final.replace({None : np.nan}, inplace=True)

In [100]:
df_imdb_final[df_imdb_final['genre'].isnull()]

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,60,1.0,NaN,Musidora,...,NaN,NaN,NaN,NaN,5.4,17.0,NaN,NaN,NaN,NaN
44376,tt0097767,movie,Loading Ludwig,Loading Ludwig,0,2022,65,1.0,NaN,Mara Mattuschka,...,NaN,NaN,NaN,NaN,7.0,6.0,NaN,NaN,NaN,NaN
57463,tt0115995,movie,Custody,Custody,0,1999,NaN,1.0,NaN,Christopher Gosch,...,Justice Daniels,Michael Davis,Jonathan Gotsick,Susan Rattan,5.0,7.0,NaN,NaN,NaN,NaN
59275,tt0118622,movie,O Anjo da Guarda,O Anjo da Guarda,0,1998,100,1.0,2.0,Margarida Gil,...,Márcia Breia,Canto e Castro,Dalila Carmo,Cucha Carvalheiro,6.8,12.0,NaN,NaN,NaN,NaN
59515,tt0118911,movie,Fandango,Fandango,0,2000,94,1.0,2.0,Matthias Glasner,...,Moritz Bleibtreu,Richy Müller,Lars Rudolph,Corinna Harfouch,5.4,194.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662778,tt9839686,movie,Schlussklappe,Schlussklappe,0,2022,93,1.0,1.0,Niclas Mehne,...,Anne Düe,Jerry Kwarteng,Pina Kühr,Florentine Schara,7.8,16.0,NaN,NaN,NaN,NaN
662877,tt9846462,movie,Todo,Todo,0,2019,86,1.0,1.0,Frank Rodríguez,...,Liz Sandoval,Frank Rodríguez,Carla Hernández,Jazmin Prado,5.2,26.0,NaN,NaN,NaN,NaN
662919,tt9849160,movie,Black Crow 1,Black Crow 1,0,2019,73,1.0,1.0,Toshiya Kominami,...,Arisa Deguchi,Yûsuke Furusawa,Aino Kuribayashi,Keisuke Minami,6.2,7.0,NaN,NaN,NaN,NaN
663517,tt9885292,movie,Mi querida España,Mi querida España,0,2015,88,1.0,1.0,Mercedes Moncada Rodríguez,...,NaN,NaN,NaN,NaN,7.2,28.0,NaN,NaN,NaN,NaN
663787,tt9902734,movie,Josh Groban Bridges Live from Madison Square G...,Josh Groban Bridges Live from Madison Square G...,0,2019,NaN,1.0,NaN,Joe Thomas,...,NaN,NaN,NaN,NaN,7.9,17.0,NaN,NaN,NaN,NaN

### Votes

In [101]:
df_imdb_final[df_imdb_final['num_votes'] <= 5]

,tconst,title_type,primary_title,original_title,is_adult,year,runtime,directors_count,writers_count,director_name,...,acting2,acting3,acting4,acting5,average_rating,num_votes,genres_count,genre,genre2,genre3
76990,tt0162989,movie,Histórias do Norte,Histórias do Norte,1,1998,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,5.0,1.0,Adult,NaN,NaN
110005,tt0243207,movie,Daydream Nation,Daydream Nation,0,2000,105,1.0,2.0,Ebba Sinzinger,...,NaN,NaN,NaN,NaN,7.4,5.0,NaN,NaN,NaN,NaN
202974,tt0808278,movie,From Ground to Glass,From Ground to Glass,0,2006,75,1.0,1.0,Rob DaFoe,...,NaN,NaN,NaN,NaN,9.2,5.0,1.0,Documentary,NaN,NaN
205577,tt0832349,movie,Generation Meds,Generation Meds,0,2006,60,1.0,1.0,Ana Sofia Joanes,...,NaN,NaN,NaN,NaN,7.4,5.0,1.0,Documentary,NaN,NaN
216092,tt10014682,movie,Tenir tête,Tenir tête,0,2019,78,1.0,1.0,Mathieu Arsenault,...,NaN,NaN,NaN,NaN,7.8,5.0,1.0,Documentary,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663432,tt9881392,movie,Ink of Yam,Ink of Yam,0,2017,75,1.0,1.0,Tom Fröhlich,...,NaN,NaN,NaN,NaN,7.8,5.0,1.0,Documentary,NaN,NaN
663538,tt9887160,movie,The Film,The Film,0,2012,NaN,1.0,1.0,Ivo Briedis,...,Normunds Griestins,Peteris Nebars,NaN,NaN,6.6,5.0,1.0,Drama,NaN,NaN
663605,tt9891882,movie,Elements Quest,Elements Quest,0,2017,NaN,1.0,6.0,Hester Wagner,...,Farah Dinga,Daphne Dorman,Marissa Erickson,Dominic Held,7.8,5.0,2.0,Comedy,Fantasy,NaN
663750,tt9899938,movie,Journey of the Sky Goddess,Kibaiyanse! Watashi,0,2019,116,1.0,1.0,Masaharu Take,...,Takaaki Enoki,Kyotaro Gan,Gorô Ibuki,Kaho,3.6,5.0,2.0,Comedy,Drama,NaN
663754,tt9900050,movie,Duniya Khatam Ho Rahi Hai,Duniya Khatam Ho Rahi Hai,0,2017,110,1.0,1.0,Karan Kashyap,...,Dharmendra Chadokar,Amit Kasera,Shirish Soni,Surya Trivedi,8.6,5.0,1.0,Comedy,NaN,NaN

In [102]:
df_imdb_final.columns

Index(['tconst', 'title_type', 'primary_title', 'original_title', 'is_adult',
       'year', 'runtime', 'directors_count', 'writers_count', 'director_name',
       'director2_name', 'director3_name', 'writer_name', 'writer2_name',
       'writer3_name', 'acting', 'acting2', 'acting3', 'acting4', 'acting5',
       'average_rating', 'num_votes', 'genres_count', 'genre', 'genre2',
       'genre3'],
      dtype='object')

In [103]:
df_imdb_final.drop(columns='title_type', inplace=True)

In [104]:
df_imdb_final = df_imdb_final[['tconst', 'primary_title', 'original_title', 'year', 'runtime', 'num_votes', 'average_rating', 'genres_count', 'genre', 'genre2', 'genre3', 'acting', 'acting2', 'acting3', 'acting4', 'acting5', 
              'directors_count', 'director_name', 'director2_name', 'director3_name', 'writers_count', 'writer_name', 'writer2_name', 'writer3_name', 'is_adult']]

In [105]:
df_imdb_final

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,...,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
1,tt0013274,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,2021,94,73.0,6.7,1.0,Documentary,NaN,...,NaN,2.0,Nikolai Izvolov,Dziga Vertov,NaN,NaN,NaN,NaN,NaN,0
2,tt0015414,La tierra de los toros,La tierra de los toros,2000,60,17.0,5.4,NaN,NaN,NaN,...,NaN,1.0,Musidora,NaN,NaN,NaN,NaN,NaN,NaN,0
11,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,89944.0,6.4,3.0,Comedy,Fantasy,...,Natasha Lyonne,1.0,James Mangold,NaN,NaN,2.0,Steven Rogers,James Mangold,NaN,0
16269,tt0062336,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,2020,70,190.0,6.5,1.0,Drama,NaN,...,Luis Vilches,2.0,Raúl Ruiz,Valeria Sarmiento,NaN,2.0,Raúl Ruiz,Omar Saavedra Santis,NaN,0
21612,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122,8143.0,6.7,1.0,Drama,NaN,...,Norman Foster,1.0,Orson Welles,NaN,NaN,2.0,Orson Welles,Oja Kodar,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664029,tt9916362,Coven,Akelarre,2020,92,5890.0,6.4,2.0,Drama,History,...,Yune Nogueiras,1.0,Pablo Agüero,NaN,NaN,2.0,Pablo Agüero,Katell Guillou,NaN,0
664030,tt9916428,The Secret of China,Hong xing zhao yao Zhong guo,2019,NaN,19.0,3.6,3.0,Adventure,History,...,Wenli Jiang,1.0,Jixing Wang,NaN,NaN,NaN,NaN,NaN,NaN,0
664032,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,9.0,8.3,1.0,Drama,NaN,...,Dian Sidik,1.0,Azhar Kinoi Lubis,NaN,NaN,3.0,Arief Ash Siddiq,Rino Sarjono,Salman Aristo,0
664037,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,6.0,7.8,1.0,Comedy,NaN,...,Suvarna Kale,1.0,Kanchan Nayak,NaN,NaN,1.0,Sudhir Nikam,NaN,NaN,0
664038,tt9916730,6 Gunn,6 Gunn,2017,116,12.0,7.0,1.0,Drama,NaN,...,Pranav Raorane,1.0,Kiran Gawade,NaN,NaN,1.0,Kiran Gawade,NaN,NaN,0

In [106]:
display(df_admissions_EU_clean['title'].nunique())
display(df_admissions_NA_clean.shape)

4916

(4965, 5)

In [107]:
df_admissions_NA_clean['distributor'].nunique()

238

### Handling title dublicates after merging
- left merged IMDB with EU & NA on 'title' and 'year'
- new df had 4 additional rows coming from InStAnCeS(?) in which in EU or NA title and year doubled for different movies (Paparazzi (FR & IT)) 
- additionally 168 duplicates looking at IMDB movies that had box office matches but the same title in the same year
- next step: checking duplicates by hand and dropping unwanted matches

In [108]:
df_imdb_final[df_imdb_final[['primary_title', 'year']].duplicated(keep=False)].sort_values(by='primary_title')

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,...,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
639660,tt8458736,100,100,2019,141,1514.0,6.5,1.0,Action,NaN,...,Saravanan,1.0,Sam Anton,NaN,NaN,1.0,Sam Anton,NaN,NaN,0
473025,tt29302558,100,100,2019,59460,8.0,6.9,1.0,Animation,NaN,...,NaN,1.0,Marco Romano,NaN,NaN,1.0,Marco Romano,NaN,NaN,0
167417,tt0383166,12,12,2003,90,28.0,6.8,1.0,Drama,NaN,...,Asa Eslocker,1.0,Lloyd A. Silverman,NaN,NaN,1.0,J. Scott Hall,NaN,NaN,0
89941,tt0192947,12,12,2003,124,56.0,7.6,2.0,Comedy,Music,...,Eugene Rubenzer,1.0,Lawrence Bridges,NaN,NaN,1.0,Lawrence Bridges,NaN,NaN,0
385422,tt1979163,180,180,2011,107,63.0,6.8,2.0,Comedy,Drama,...,Bill Nguyen,1.0,Nathan Pope,NaN,NaN,2.0,Nathan Pope,William A. Price III,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624415,tt7624934,Zoo,Zoo,2018,95,2182.0,5.5,3.0,Comedy,Drama,...,Lukas Loughran,1.0,Antonio Tublen,NaN,NaN,1.0,Antonio Tublen,NaN,NaN,0
591265,tt6149820,Zoo,Zoo,2018,100,111.0,5.7,1.0,Drama,NaN,...,Yogesh Kurme,1.0,Shlok Sharma,NaN,NaN,2.0,Shlok Sharma,Shilpa Srivastava,NaN,0
582425,tt5815346,Zoom,Zoom,2016,158,133.0,5.7,3.0,Comedy,Drama,...,Sadhu Kokila,1.0,Prashanth Raj,NaN,NaN,4.0,Prashanth Raj,Pawan Wadeyar,NaN,0
604733,tt6667868,Zoom,Zoom,2016,NaN,52.0,6.1,1.0,Horror,NaN,...,Hemal Ranasinghe,1.0,Sameera Wackwella,NaN,NaN,1.0,Sameera Wackwella,NaN,NaN,0
590342,tt6117454,Zoom,Zoom,2016,NaN,6.0,4.8,2.0,Crime,Thriller,...,Hemanth Menon,1.0,Anish Varma,NaN,NaN,1.0,Haripad Harilal,NaN,NaN,0

### Changing years to fit NA/EU data

In [109]:
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt4776998', 'year'] = 2017

In [110]:
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt4776998', 'year']

555357    2017
Name: year, dtype: int64

In [111]:
df_admissions_NA_clean['release_year'] = df_admissions_NA_clean['release_date'].dt.year
duplicates = df_imdb_final.merge(df_admissions_NA_clean, how='left', left_on=['primary_title', 'year'], right_on=['title', 'release_year']).merge(df_admissions_EU_clean, how='left', left_on=['primary_title', 'year'], right_on=['title', 'year'])

In [112]:
duplicates.shape

(185362, 35)

In [113]:
mask = ((~duplicates['tickets_sold_x'].isnull()) | (~duplicates['tickets_sold_y'].isnull())) & (duplicates[['primary_title', 'year']].duplicated(keep=False))

### Dropping duplicated movies

In [165]:
films_to_drop = ['tt7596520', 'tt6869948', 'tt3114786', 'tt10381532', 'tt15302566', 'tt8878922', 'tt2159988', 'tt3833746', 'tt7232438', 'tt4192918', 'tt6353886',
                 'tt0989719', 'tt0384344', 'tt5317732', 'tt27834173', 'tt11719504', 'tt0356736', 'tt0462326', 'tt7535780', 'tt4982356', 'tt4155318', 'tt4935746',
                 'tt2943946', 'tt10530176', 'tt1472211', 'tt0326506', 'tt1825978', 'tt3660078', 'tt5211596', 'tt5738152', 'tt7785302', 'tt2660118', 'tt3315656',
                 'tt6147768', 'tt3604256', 'tt9278312', 'tt0211634', 'tt15751968', 'tt22982202', 'tt21850902', 'tt8372368', 'tt7762424', 'tt1130090', 'tt2514592',
                 'tt13830296', 'tt29979669', 'tt1826727', 'tt6184774', 'tt1537401', 'tt15342012', 'tt21158466', 'tt0465552', 'tt2558484', 'tt5884960', 'tt3985956',
                 'tt0238251', 'tt2230954', 'tt21379234', 'tt1613084', 'tt20877624', 'tt22037488', 'tt9204088', 'tt19880966', 'tt5897002', 'tt1327709', 'tt7002100',
                 'tt21254598', 'tt5089556', 'tt0372361', 'tt1586713', 'tt11006500', 'tt4317898', 'tt1945037', 'tt14661820', 'tt8706138', 'tt14220888', 'tt26342791',
                 'tt0160395', 'tt10192566', 'tt10332854', 'tt2049386', 'tt26505281', 'tt19512922', 'tt2447982', 'tt15119398']

In [166]:
duplicates[duplicates['tconst'].isin(films_to_drop)]

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult,title_x,release_date,distributor,gross_sales,tickets_sold_x,release_year,title_y,producing_country,tickets_sold_since_1996,tickets_sold_y
72547,tt15119398,The Visit,The Visit,2015,130,7.0,6.0,3.0,Comedy,Romance,Thriller,Blossom Chukwujekwu,Nse Ikpe-Etim,Femi Jacobs,Bayray McNwizu,NaN,1.0,Oyefunke Fayoyin,NaN,NaN,2.0,Kehinde Joseph Omoto,Biodun Stephen,NaN,0,The Visit,2015-09-11,Universal,65206105.0,7735007.0,2015.0,The Visit,US,2685907.0,2681428.0

### Dropping list of duplicates from both Dataframes

In [167]:
duplicates.drop(duplicates[duplicates['tconst'].isin(films_to_drop)].index, inplace=True)

In [168]:
df_imdb_final.drop(df_imdb_final[df_imdb_final['tconst'].isin(films_to_drop)].index, inplace=True)

### Dropping the 2 remaning duplicated movies

In [169]:
df_imdb_final[df_imdb_final['primary_title'] == 'Paparazzi']

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
149528,tt0338325,Paparazzi,Paparazzi,2004,84,15776.0,5.7,3.0,Action,Crime,Drama,Cole Hauser,Robin Tunney,Dennis Farina,Daniel Baldwin,Tom Hollander,1.0,Paul Abascal,NaN,NaN,1.0,Forry Smith,NaN,NaN,0
569638,tt5303564,Paparazzi,Paparazzi,2015,110,54.0,5.4,3.0,Action,Drama,Romance,Ramy Ayach,Karla Boutros,Eman El-Assy,Mona Hala,Mohamed Hatem,1.0,Saad Hendawy,NaN,NaN,1.0,Ahmed Abdel Fattah,NaN,NaN,0

In [170]:
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt0133314', 'primary_title'] = 'Paparazzi (FR)'
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt0174105', 'primary_title'] = 'Paparazzi (IT)'

In [171]:
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt0133314', 'primary_title']

66165    Paparazzi (FR)
Name: primary_title, dtype: object

In [172]:
df_imdb_final[df_imdb_final['primary_title'] == 'Beast']

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
309153,tt1423333,Beast,Beast,2007,85,14.0,7.0,1.0,Horror,NaN,NaN,F.M. Turner,Travis Russell,Corrie Anne Davidson,Genevieve Price,Teresa Purkiss,1.0,Jack Bennett,NaN,NaN,1.0,Jack Bennett,NaN,NaN,0
341908,tt1572501,Beast,Beast,2011,83,609.0,5.6,2.0,Drama,Thriller,NaN,Nicolas Bro,Marijana Jankovic,Nikolaj Lie Kaas,Oliver Gustav,Sofia Oskarsson,1.0,Christoffer Boe,NaN,NaN,1.0,Christoffer Boe,NaN,NaN,0
542087,tt4251006,Beast,Beast,2015,94,71.0,6.6,3.0,Crime,Drama,Thriller,Garret Dillahunt,Chad McKinney,Angeli Bayani,Will Howarth,Whyzel Myo Indonto,2.0,Sam McKeith,Tom McKeith,NaN,3.0,Will Howarth,Sam McKeith,Tom McKeith,0
544869,tt4359322,Beast,Beast,2009,87,10.0,5.5,1.0,Horror,NaN,NaN,Kate Faulkner,Helen Jolley,Steve Jolley,Greg Pike,Mark White,1.0,Chris Jupp,NaN,NaN,2.0,Chris Jupp,Michael J. Murphy,NaN,0
577566,tt5628302,Beast,Beast,2017,107,16190.0,6.8,3.0,Crime,Drama,Mystery,Jessie Buckley,Geraldine James,Oliver Maltman,Trystan Gravelle,Tim Woodward,1.0,Michael Pearce,NaN,NaN,1.0,Michael Pearce,NaN,NaN,0
600052,tt6463468,Beast,Beast,2018,60,30.0,5.8,2.0,Adventure,Drama,NaN,Helen Hedman,Elijah Mayo,Chantal Nchako,Jay Potter,NaN,1.0,Ben Strang,NaN,NaN,1.0,Ben Strang,NaN,NaN,0

In [173]:
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt11301946', 'primary_title'] = 'Beast (IN)'
df_imdb_final.loc[df_imdb_final['tconst'] == 'tt13223398', 'primary_title'] = 'Beast (US)'

In [174]:
df_admissions_EU_clean[df_admissions_EU_clean['title'] == 'Paparazzi']

Empty DataFrame
Columns: [title, producing_country, year, tickets_sold_since_1996, tickets_sold]
Index: []

In [175]:
df_admissions_EU_clean.loc[df_admissions_EU_clean['title'] == 'Paparazzi', 'title'] = ['Paparazzi (FR)', 'Paparazzi (IT)']

ValueError: Must have equal len keys and value when setting with an iterable

In [143]:
df_admissions_NA_clean[df_admissions_NA_clean['title'] == 'Paparazzi']

,title,release_date,distributor,gross_sales,tickets_sold,release_year
2761,Paparazzi,2004-09-03,20th Century Fox,15712072,2530124,2004

In [151]:
df_admissions_EU_clean[df_admissions_EU_clean['title'] == 'Beast']

Empty DataFrame
Columns: [title, producing_country, year, tickets_sold_since_1996, tickets_sold]
Index: []

In [176]:
df_admissions_EU_clean.loc[df_admissions_EU_clean['title'] == 'Beast', 'title'] = 'Beast (US)'

In [178]:
df_admissions_NA_clean[df_admissions_NA_clean['title'] == 'Beast']

Empty DataFrame
Columns: [title, release_date, distributor, gross_sales, tickets_sold, release_year]
Index: []

In [177]:
df_admissions_NA_clean.loc[df_admissions_NA_clean['title'] == 'Beast', 'title'] = ['Beast (IN)', 'Beast (US)']

ValueError: Must have equal len keys and value when setting with an iterable

In [179]:
df_imdb_final[df_imdb_final['primary_title'] == 'The Visit']

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
92740,tt0199129,The Visit,The Visit,2000,107,287.0,6.2,1.0,Drama,NaN,NaN,Obba Babatundé,Rae Dawn Chong,Charmin Lee White,Terrell,Enoh Essien,1.0,Jordan Walker-Pearlman,NaN,NaN,2.0,Kosmond Russell,Jordan Walker-Pearlman,NaN,0
346805,tt1605776,The Visit,The Visit,2010,90,9.0,8.5,3.0,Comedy,Drama,Romance,Lily Bloom,Pierre Boulanger,Léa Coquin,Zoé Dailey,Raphael Giannesini,1.0,Richard Dailey,NaN,NaN,1.0,Richard Dailey,NaN,NaN,0
522529,tt3567288,The Visit,The Visit,2015,94,156334.0,6.3,3.0,Horror,Mystery,Thriller,Olivia DeJonge,Ed Oxenbould,Deanna Dunagan,Peter McRobbie,Kathryn Hahn,1.0,M. Night Shyamalan,NaN,NaN,1.0,M. Night Shyamalan,NaN,NaN,0

In [180]:
duplicates[duplicates['primary_title'] == 'The Visit']

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult,title_x,release_date,distributor,gross_sales,tickets_sold_x,release_year,title_y,producing_country,tickets_sold_since_1996,tickets_sold_y
3938,tt0199129,The Visit,The Visit,2000,107,287.0,6.2,1.0,Drama,NaN,NaN,Obba Babatundé,Rae Dawn Chong,Charmin Lee White,Terrell,Enoh Essien,1.0,Jordan Walker-Pearlman,NaN,NaN,2.0,Kosmond Russell,Jordan Walker-Pearlman,NaN,0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78935,tt1605776,The Visit,The Visit,2010,90,9.0,8.5,3.0,Comedy,Drama,Romance,Lily Bloom,Pierre Boulanger,Léa Coquin,Zoé Dailey,Raphael Giannesini,1.0,Richard Dailey,NaN,NaN,1.0,Richard Dailey,NaN,NaN,0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132428,tt3567288,The Visit,The Visit,2015,94,156334.0,6.3,3.0,Horror,Mystery,Thriller,Olivia DeJonge,Ed Oxenbould,Deanna Dunagan,Peter McRobbie,Kathryn Hahn,1.0,M. Night Shyamalan,NaN,NaN,1.0,M. Night Shyamalan,NaN,NaN,0,The Visit,2015-09-11,Universal,65206105.0,7735007.0,2015.0,The Visit,US,2685907.0,2681428.0

In [187]:
df_no_data_movie = df_admissions_EU_clean.merge(df_imdb_final, how='left', left_on=['title', 'year'], right_on=['original_title', 'year'])

In [188]:
df_no_data_movie[df_no_data_movie['tconst'].isnull()]

,title,producing_country,year,tickets_sold_since_1996,tickets_sold,tconst,primary_title,original_title,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
13,101 Dalmatians,US,1996,21623260,21532085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,13 Going On 30,US,2004,3579724,3566771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,15 Minutes (Fifteen Minutes),US,2001,2600419,2565397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,23,DE,1998,701787,693358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,28 Days Later,GB,2002,4252690,4066710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949,Çok filim hareketler bunlar,TR,2010,1223552,1223156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4955,Účastníci zájezdu,CZ,2006,871439,830242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4956,Śluby panieńskie,PL,2010,1001866,1000373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4957,Świadectwo,PL,2008,1039901,1034911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4958,Ženy v pokušení,CZ,2010,1309118,1303914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
df_imdb_final[df_imdb_final['tconst'] == 'tt1640202']

,tconst,primary_title,original_title,year,runtime,num_votes,average_rating,genres_count,genre,genre2,genre3,acting,acting2,acting3,acting4,acting5,directors_count,director_name,director2_name,director3_name,writers_count,writer_name,writer2_name,writer3_name,is_adult
351446,tt1640202,Çok Filim Hareketler Bunlar,Çok Filim Hareketler Bunlar,2010,134,5305.0,4.5,1.0,Comedy,NaN,NaN,Gülsüm Alkan,Ibrahim Büyükak,Emre Canpolat,Murat Eken,Yilmaz Erdogan,1.0,Ozan Açiktan,NaN,NaN,4.0,Murat Eken,Zeynep Kocak,NaN,0

### Uploading to SQL

In [181]:
from sql_functions import get_engine, schema
import psycopg2
engine = get_engine()
schema = schema()
table_name = 'movie_data_EU'
table_name2 = 'movie_data_NA'
table_name3 = 'IMDB_data'

In [182]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_admissions_EU_clean.to_sql(table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

if engine!=None:
    try:
        df_admissions_NA_clean.to_sql(table_name2, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name2} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

if engine!=None:
    try:
        df_imdb_final.to_sql(table_name3, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name3} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The movie_data_EU table was imported successfully.
The movie_data_NA table was imported successfully.
The IMDB_data table was imported successfully.