# Goal: get all unique tconst for relevant filter

## Import data

In [2]:
import pandas as pd

In [12]:
df_title_basics = pd.read_csv("Data/title.principals/title.basics.csv")

In [13]:
df_title_basics.shape

(11057208, 9)

In [5]:
df_title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,\N,1,"Comedy,Short"

In [6]:
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11057208 entries, 0 to 11057207
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         float64
 5   startYear       float64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(2), object(7)
memory usage: 759.2+ MB

In [7]:
df_title_basics["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [15]:
movie_mask = df_title_basics["titleType"].isin(['movie', 'tvMovie'])
year_mask = df_title_basics["startYear"] >= 1950

combined_mask = (movie_mask) & (year_mask)

In [16]:
df_title_basics_filtered = df_title_basics[combined_mask]
df_title_basics_filtered.shape

(664040, 9)

In [10]:
df_title_basics_filtered.describe(include="all")

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,664040,664040,664038,664038,664040.000000,664040.000000,664040,664040,664040
unique,664040,2,588123,599933,NaN,NaN,1,523,1458
top,tt0011801,movie,Macbeth,Macbeth,NaN,NaN,\N,\N,Documentary
freq,1,520432,64,63,NaN,NaN,664040,171728,131274
mean,NaN,NaN,NaN,NaN,0.013913,2000.506917,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.117131,19.917583,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,0.000000,1950.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.000000,1986.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.000000,2008.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,0.000000,2017.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,1.000000,2031.000000,NaN,NaN,NaN

In [11]:
df_title_basics_filtered["tconst"]

11632       tt0011801
13077       tt0013274
15172       tt0015414
15480       tt0015724
21267       tt0021617
              ...
11057126    tt9916680
11057131    tt9916692
11057138    tt9916706
11057148    tt9916730
11057158    tt9916754
Name: tconst, Length: 664040, dtype: object

In [12]:
#df_title_basics_filtered["tconst"].to_csv("Data/tconst.csv", index= False)

In [13]:
pd.Series.to_csv?

Signature:
pd.Series.to_csv(
    self,
    path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None,
    *,
    sep: 'str' = ',',
    na_rep: 'str' = '',
    float_format: 'str | Callable | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'bool_t | list[str]' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    mode: 'str' = 'w',
    encoding: 'str | None' = None,
    compression: 'CompressionOptions' = 'infer',
    quoting: 'int | None' = None,
    quotechar: 'str' = '"',
    lineterminator: 'str | None' = None,
    chunksize: 'int | None' = None,
    date_format: 'str | None' = None,
    doublequote: 'bool_t' = True,
    escapechar: 'str | None' = None,
    decimal: 'str' = '.',
    errors: 'OpenFileErrors' = 'strict',
    storage_options: 'StorageOptions | None' = None,
) -> 'str | None'
Docstring:
Write object to a comma-separated values (csv) file.

Parameters
----------
path_or_buf : str, path object, file-like object, or None, default None
    String, path object (implementing os.PathLike[str]), or file-like
    object implementing a write() function. If None, the result is
    returned as a string. If a non-binary file object is passed, it should
    be opened with `newline=''`, disabling universal newlines. If a binary
    file object is passed, `mode` might need to contain a `'b'`.
sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, Callable, default None
    Format string for floating point numbers. If a Callable is given, it takes
    precedence over other numeric formatting parameters, like decimal.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : {'w', 'x', 'a'}, default 'w'
    Forwarded to either `open(mode=)` or `fsspec.open(mode=)` to control
    the file opening. Typical values include:

    - 'w', truncate the file first.
    - 'x', exclusive creation, failing if the file already exists.
    - 'a', append to the end of file if it exists.

encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
    is a non-binary file object.
compression : str or dict, default 'infer'
    For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    Set to ``None`` for no compression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdCompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for faster compression and to create
    a reproducible gzip archive:
    ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

       May be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

       Passing compression options as keys in dict is
       supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.
quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
lineterminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

    .. versionchanged:: 1.5.0

        Previously was line_terminator, changed for consistency with
        read_csv and the standard library 'csv' module.

chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.
errors : str, default 'strict'
    Specifies how encoding and decoding errors are to be handled.
    See the errors argument for :func:`open` for a full list
    of options.

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
Create 'out.csv' containing 'df' without indices

>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv('out.csv', index=False)  # doctest: +SKIP

Create 'out.zip' containing 'out.csv'

>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'
>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP

To write a csv file to a new folder or nested folder you will first
need to create it using either Pathlib or os:

>>> from pathlib import Path  # doctest: +SKIP
>>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
>>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
>>> df.to_csv(filepath)  # doctest: +SKIP

>>> import os  # doctest: +SKIP
>>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
>>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP
File:      /opt/homebrew/Caskroom/miniconda/base/envs/nf_base/lib/python3.9/site-packages/pandas/core/generic.py
Type:      function

In [14]:
df_title_basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11632,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0.0,2019.0,\N,\N,"Action,Crime"
13077,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0.0,2021.0,\N,94,Documentary
15172,tt0015414,movie,La tierra de los toros,La tierra de los toros,0.0,2000.0,\N,60,\N
15480,tt0015724,movie,Dama de noche,Dama de noche,0.0,1993.0,\N,102,"Drama,Mystery,Romance"
21267,tt0021617,movie,Arizona Territory,Arizona Territory,0.0,1950.0,\N,56,Western

In [3]:
df_title_ratings = pd.read_csv("Data/title.principals/title.ratings.csv")

In [16]:
df_title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2082
1  tt0000002            5.6       280
2  tt0000003            6.5      2081
3  tt0000004            5.4       181
4  tt0000005            6.2      2819

In [19]:
df_title_ratings.sort_values(by="numVotes", ascending=False).head(20)

           tconst  averageRating  numVotes
83894   tt0111161            9.3   2937161
256157  tt0468569            9.0   2917451
669432  tt1375666            8.8   2590527
100658  tt0137523            8.8   2368583
446855  tt0944947            9.2   2340588
82794   tt0109830            8.8   2296848
83677   tt0110912            8.9   2255783
435748  tt0903747            9.5   2200576
407175  tt0816692            8.7   2154266
98427   tt0133093            8.7   2085691
47369   tt0068646            9.2   2047193
91711   tt0120737            8.9   2038566
116518  tt0167260            9.0   2009614
653975  tt1345836            8.4   1853805
86460   tt0114369            8.6   1831506
116519  tt0167261            8.8   1812054
843581  tt1853728            8.5   1725282
119094  tt0172495            8.5   1654447
460503  tt0993846            8.2   1616411
209716  tt0361748            8.4   1613462

In [20]:
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
plt.figure(figsize=(12,8))

sns.histplot(data=df_title_ratings, x="numVotes")

In [ ]:
df_title_ratings["numVotes"].describe()

In [6]:
bins = pd.IntervalIndex.from_tuples([(0, 1), (2, 5), (6, 10), (11, 50), (51, 100), (101, 1000), (1001, 3_000_000)])
bins

IntervalIndex([(0, 1], (2, 5], (6, 10], (11, 50], (51, 100], (101, 1000],
               (1001, 3000000]],
              dtype='interval[int64, right]')

In [8]:
df_title_ratings["numVotesCut"] = pd.cut(df_title_ratings["numVotes"], bins=bins)

In [10]:
df_title_ratings.groupby("numVotesCut").size()

/var/folders/4w/4tr10mrx69334wpfj60r7s3c0000gn/T/ipykernel_49799/3173473509.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_title_ratings.groupby("numVotesCut").size()

numVotesCut
(0, 1]                  0
(2, 5]              36354
(6, 10]            230248
(11, 50]           579810
(51, 100]          150122
(101, 1000]        276078
(1001, 3000000]     90753
dtype: int64

In [19]:
df_title_ratings.shape

(1473803, 4)

In [17]:
df_basic_ratings_merged_filtered = pd.merge(df_title_basics_filtered, df_title_ratings, how='left', on="tconst")

In [18]:
df_basic_ratings_merged_filtered.shape

(664040, 12)

In [20]:
df_basic_ratings_merged_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,numVotesCut
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0.0,2019.0,\N,\N,"Action,Crime",NaN,NaN,NaN
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0.0,2021.0,\N,94,Documentary,6.7,73.0,"(51.0, 100.0]"
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0.0,2000.0,\N,60,\N,5.4,17.0,"(11.0, 50.0]"
3,tt0015724,movie,Dama de noche,Dama de noche,0.0,1993.0,\N,102,"Drama,Mystery,Romance",6.5,30.0,"(11.0, 50.0]"
4,tt0021617,movie,Arizona Territory,Arizona Territory,0.0,1950.0,\N,56,Western,6.1,62.0,"(51.0, 100.0]"

In [23]:
df_basic_ratings_merged_filtered.groupby("numVotesCut").size()

/var/folders/4w/4tr10mrx69334wpfj60r7s3c0000gn/T/ipykernel_49799/2322572492.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_basic_ratings_merged_filtered.groupby("numVotesCut").size()

numVotesCut
(0, 1]                  0
(2, 5]               2418
(6, 10]             33823
(11, 50]           115704
(51, 100]           40156
(101, 1000]         92281
(1001, 3000000]     44342
dtype: int64

In [24]:
df_basic_ratings_merged_filtered["numVotesCut"].isna().sum()

335316